# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
test_symlink_asset_10nov2020/.dart_tool/
test_symlink_asset_10nov2020/.flutter-plugins
test_symlink_asset_10nov2020/.flutter-plugins-dependencies
test_symlink_asset_10nov2020/.packages
test_symlink_asset_10nov2020/.pub-cache/
test_symlink_asset_10nov2020/.pub/
test_symlink_asset_10nov2020/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
